
.butler{
    margin-top: 160px;
}
.carter{
   max-width: 1000px;
   height: 220px;
   margin: 0px auto;
   gap: 15px;
}
.tittt{
    overflow: hidden;
    height: 50px;
}
.titt{
    margin-top: 5px;
    padding: 0px 5px;
}
.asghar{
    height: 540px !important;
}

.h33{
    margin-top: 5px;
    color: rgb(127, 123, 123);
}
.jj{
    margin-top: 5px;
}
.ju{
    color: rgb(25, 25, 25);
    padding-top: 20px;
    padding-left: 20px;
}
.ju h1{
text-align: center;    font-size: 26px;
    margin-bottom: 13px;
}

@media only screen and (max-width: 600px) {
    .carter{
        flex-wrap: wrap;
    }
    .simpCard{
        width: 60%;
        border: 20px solid rgb(244, 239, 239);
        border-radius: 15px;
    }
    .asghar{
        height: 1750px !important;
    }
    .butler{
        display: block !important;
    
        margin-top: 1400px;
    }
    }